.idea/
output/
cache/
cache2/
*.map
*.js
*.log
output.wasm
output.wasm.hex
output.wat
output2.wasm
output2.wasm.hex
output2.wat
output3.wasm
output3.wasm.hex
output3.wat
output4.wasm
output4.wasm.hex
output4.wat